/* navigational bar */
nav{
  display: flex;
  flex-direction: row;
  justify-content: space-around;    
  background-color: #121212;
  color: #ffffff;
  height: 40px;
}

.nav-logos{
  height: 40px;
  width: 40px;
  filter: invert();
  
}

#search{
    display: flex;
    flex-direction: row;
    background-color: #B3B3B320;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    width: 350px;
}

#search img{
  display: flex;
  height: 30px;
  width: 30px;
  margin: 5px;
}

.right-bar{
  display: flex;
  flex-direction: row;
  font-size: 80%;
}

.app{
  display: flex;
 border: solid #ffffff30;
}

#header-content{
  display: flex;

  flex-direction: row;

 align-content: space-evenly;
}

/* album art organization */
.albums-wrapper{
 display: grid;
 grid-template-columns: repeat(8,1fr);
 row-gap: 100px;
 column-gap: 15px;
 border-radius: 50px;
}

section h1{
  margin-top: 70px;
  margin-bottom: 40px;
}


.album-art{
  display: flex;
  margin: 0;
  height: 125px;
  width: 125px;
  flex-direction: column;
  color: #ffffff;
}

.album-art, p{
  margin:0;
}

body{
  background-color: #121212;
  font-family: plus-jakarta-sans, sans-serif;
  color: white;
}

/* aside box styling */
.yeah{
  display: flex;
  gap: 10px;
  color: #ffffff;
  background-color: #7C7C7C20;
  flex-direction: column;
  border-radius: 10px;
  margin: 10px;
  margin-bottom: 20px;
  font-size: 80%;
}

.yeah h3 {
  margin-left: 20px;
  margin-bottom: 10px;
}

.yeah p {
  margin-left: 20px;
}
 
.yeah2{
  display: flex;
  gap: 10px;
  color: #ffffff;
  background-color: #7C7C7C20;
  flex-direction: column;
  border-radius: 10px;
  margin: 10px;
  margin-bottom: 130px;
  font-size: 80%;
}

.yeah2 h3 {
  margin-left: 20px;
  margin-bottom: 10px;
}

.yeah2 p {
  margin-left: 20px;
}

main{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px 10px;

}

/* button custimization */
.white-b{
  display: flex;
  background-color: white;
  border-radius: 50px;
  width: 10dvw;
  height: 30px;
  color: black;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

/* Aside */
aside{
  background-color: #7C7C7C10;
  border-radius: 20px;
  width: 30%;
  color:#ffffff;
  margin-right: 10px;
}

.grey-r{
  display: flex;
  color: #BCBCBC90;
  flex-direction: row;
  font-size: 60%;
}

.grey-r p{
  margin:5px;
}

.grey-r p:hover{
  color: #BCBCBC;
}

section{
  background-color: #7C7C7C10;
  border-radius: 20px;
  height: 665px;
}

.button{
  width: 40px;
  height: 40px;
}

.ihatej{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.green{
  display: flex;
  width: 100px;
  height: 15px;
  background-color: #2CA658;
  color: #BCBCBC;
  border-radius: 20px;
  font-size: 60%;
  justify-content: center;
  align-items: center;
}

.chamfer{
  display: flex;
  border-radius: 10px;
}

.album-art h6{
color: #7C7C7C;
margin-top: 5px;
}

.album-art p{
  font-size: 90%;
  font-weight: 100;
}

.shrink{
  font-size: 70%;
}

/* footer styling */
footer{
  color: #ffffff;
  row-gap: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 3px;
  margin-top: 5px;
  max-height: 67px;
  background: #9b2a88;
  min-height: 45px;
  background: linear-gradient(90deg, rgba(155,42,136,1) 0%, rgba(137, 87, 199, 1) 50%, rgba(83, 142, 237, 1) 100%);
}

.Lang-en{
  display: flex;
  border: solid #ffffff30;
  flex-direction: row;
  height: 30px;
  border-radius: 50px;
  width: 100px;
  justify-content: center;
  margin-left: 10px;
  margin-top: 40px;
}

.Lang-en img{
  display: flex;
  filter: invert();
  height: 30px;
  width: 30px;
  align-items: center;
  justify-content: center;
}

.Lang-en h2{
  font-size: 80%;
  margin: 10px;
}

.order{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.order p{
  margin-top: 5px;
}

.order h5{
  margin-bottom: 0px;
  margin-top: 0px;
}